<img src="../../assets/login/pexels-pixabay-461064.jpg" alt="">

<div class="parent">

    <div class="parent">
        <div class="employer-details" *ngIf="showAcceptedTable">
            <div class="jobs-info">
                <h2>Accepted</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>phone No</th>
                            <th>college</th>
                            <th>College Address</th>
                            <th>Year of Passing</th>
                            <th>Skills</th>
                            <th>Percentage</th>
                            <th>Project</th>
                            <th>Resume</th>
                        </tr>
                    </thead>
                    <tbody #table1>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="employer-details" *ngIf="showRejectedTable">
            <div class="jobs-info">
                <h2>Accepted</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>phone No</th>
                            <th>college</th>
                            <th>College Address</th>
                            <th>Year of Passing</th>
                            <th>Skills</th>
                            <th>Percentage</th>
                            <th>Project</th>
                            <th>Resume</th>
                        </tr>
                    </thead>
                    <tbody #table2>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="employer-details" *ngIf="showPendingTable">
            <div class="jobs-info">
                <h2>Accepted</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>phone No</th>
                            <th>college</th>
                            <th>College Address</th>
                            <th>Year of Passing</th>
                            <th>Skills</th>
                            <th>Percentage</th>
                            <th>Project</th>
                            <th>Resume</th>
                        </tr>
                    </thead>
                    <tbody #table3>
                        
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>

</div>