<img src="../../assets/login/pexels-cottonbro-studio-4065876.jpg" alt="">
<div class="employers-list">
    <h2>Employers</h2>
    <div class="employers-table">
        <table>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Role Id</th>
                    <th>Email</th>
                    <th>phone No</th>
                    <th>company</th>
                </tr>
            </thead>
            <tbody #table>
                
            </tbody>
        </table>
    </div>
    
</div>